/* page size */
@page {
  size: 210mm 297mm;
    margin-top: 35mm;
    margin-bottom: 25mm;
    margin-left: 35mm;
    margin-right: 35mm;
}
.shorttitle {
  position: running(runningTitle);
}

.document-footer {
  position: running(firstpageFooter);
}

@page { /* Standard page e.g. all but first page */
  @top-center {
    content: element(runningTitle);
    width: 150mm;
    font-style: italic;
  }
  @bottom-center {
    content: element(firstpageFooter);
/*    content: counter(page) "/" counter(pages); */
  }
}

/* first page */
@page :first {
  margin-top: 10mm;
  @top-center {
    content: none;
  }
  @left-top {
    content: " ";
    background-image: url(https://kagervall.se/SLUdown/SLUlogo_notext.png);
    background-position: 60px 0px;
    background-repeat: no-repeat;
  }
}
@page :first {
  @bottom-center {
    content: element(firstpageFooter);
  }
}

/*    content: "FP firstpageFooter"; */


/*
@page :left {
  @top-center {
    content: element(runningTitle);
    width: 150mm;
    font-style: italic;
  }
  @bottom-right-corner {
    content: "left " counter(page) "/" counter(pages);
  }
}
*/


/*
.pagedjs_left_page .pagedjs_margin-top-center {
  font-size: 16px;
}
*/
/* right page */
/*
@page :right {
  @top-right {
    content: counter(page);
  }
  @top-center {
    content: "SLU";
    width: 150mm;
    font-size: 16px;
    font-style: italic;
  }
}
*/